@{
    ViewData["Title"] = "Admin";
}

@model ConnectStationsViewModel

<div class="container">
    <h1>Connect stations</h1>
    <div class="row mb-3">
        <div class="col">
            <form class="form row" method="post" action="/Admin/ConnectStations">
                <label for="to" class="form-label">Connect @Model.StationName to station:</label>
                <select class="form-select" id="to" name="to">
					@foreach (var station in Model.AllStations) {
                        <option value="@station">@station</option>
					}
                </select>
                <label for="transportMode" class="form-label">Transport mode:</label>
                <select class="form-select" id="transportMode" name="transportMode">
                    @foreach (var mode in Enum.GetNames(typeof(ModeOfTransport))) {
    					<option value="@mode">@mode</option>
                    }
                </select>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>