@{
    ViewData["Title"] = "Admin";
}

@model AdminViewModel

<div class="container">
    @if (Model.ErrorMessage != null)
    {
        <div class="row mb-3 alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
    <h1>Admin</h1>
    <div class="row mb-3">
        <div class="col">
            <div class="list-group">
                @foreach(var station in Model.Stations)
                {
                    <div class="list-group-item">
                        <div class="row d-flex">
                            <div class="col">@station.Name</div>
                            <a class="btn btn-primary col ms-2" href="/Admin/ConnectStations?Name=@station.Name">Connect</a>
                            <a class="btn btn-primary col ms-2" href="/Admin/DeleteStation?Name=@station.Name">Delete</a>
                        </div>
						<div class="row d-flex list-group mt-2">
                            @foreach(var conn in station.Connections)
                            {
                                <div class="list-group-item d-flex">
                                    <div class="col">@conn.Name → @conn.Destination (@conn.ModeOfTransport)</div>
                                    <a class="btn btn-secondary col ms-2" href="/Admin/DisconnectStations?From=@station.Name&To=@conn.Destination">Delete</a>
                                </div>
                            }
                        </div>
                        <form class="form row d-flex mt-2" method="post" action="/Admin/SetCoordsOfStation">
                            <input class="col" type="text" name="station" value="@station.Name" hidden />
                            <label class="col form-label" for="latitude">Latitude</label>
                            <input class="col form-control" type="text" id="lat" name="lat" placeholder="Latitude" value="@station.Latitude" />
                            <label class="col form-label" for="longitude">Longitude</label>
                            <input class="col form-control" type="text" id="lon" name="lon" placeholder="Longitude" value="@station.Longitude" />
                        </form>
                        <form class="form row d-flex mt-2" method="post" action="/Admin/SetMapPosition">
                            <input class="col" type="text" name="station" value="@station.Name" hidden />
                            <label class="col form-label" for="x">Map position</label>
                            <input class="col form-control" type="text" id="x" name="x" placeholder="MapX" value="@station.MapX" />
                            <input class="col form-control" type="text" id="y" name="y" placeholder="MapY" value="@station.MapY" />
                        </form>
                    </div>
                }
            </div>
            <form class="form row" method="post" action="/Admin/AddStation">
                <label for="addStation" class="form-label">Add station</label>
                <input type="text" class="form-control" id="addStation" name="addStation" placeholder="Station name">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
