@{
    ViewData["Title"] = "Home Page";
}

@model GameViewModel

<div class="container">
    @if (Model.ErrorMessage != null)
    {
        <div class="row mb-3 alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
    <div class="row mb-3">
        <div class="col">
            @if (Model.IsGameMaster)
            {
                <h2>Game master</h2>
				<p>Players: @string.Join(", ", Model.Players)</p>
                <p>Game status: @if (Model.IsStarted) { <text>Started</text> } else { <text>Paused</text> }</p>
                <a class="btn btn-primary" href="/Player/StartGame">Start or reset game</a>
                @if (Model.IsStarted)
				{
                    <a class="btn btn-primary" href="/Player/EndGame">End game</a>
				}
            }
            else if (Model.GameMaster != null)
			{
				<h2>Joined game</h2>
                <p>Game master: @Model.GameMaster</p>
                <p>Players: @string.Join(", ", Model.Players)</p>
                <p>Game status: @if (Model.IsStarted) { <text>Started</text> } else { <text>Paused</text> }</p>
                <a class="btn btn-secondary" href="/Player/LeaveGame">Leave game</a>
			}
			else
			{
                <h2>No active game</h2>
                <a class="btn btn-primary" href="/Player/CreateGame">Create game</a>
                <form method="post" action="JoinGame" class="form row mb-3">
                    <div class="form-group col">
                        <input type="text" class="form-control" id="gameMasterName" name="gameMasterName" placeholder="Enter game master" />
                    </div>
                    <button type="submit" class="btn btn-primary col flex-grow-0 text-nowrap">Join game</button>
                </form>
            }
        </div>
    </div>
    <div class="row mb-3">
        <h2>Ticket history</h2>
        @foreach (var (player, tickets) in Model.PlayerTickets)
        {
            if(player != null && tickets != null)
			{
				<div class="col">
                    <h4>@player</h4>
					<div class="list-group">
						@foreach (var ticket in tickets)
						{
							<div class="list-group-item">@ticket</div>
						}
					</div>
                </div>
            }
        }
    </div>
</div>
