@{
    ViewData["Title"] = "Home Page";
}

@model PlayerViewModel

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="list-group">
                @foreach (var station in Model.Stations)
                {
                    <div class="list-group-item @if (station.Name == Model.OwnStation) {<text>active</text>}">
                        <h4>@station.Name</h4>
                        <p>
                            Connected to: @string.Join(", ", station.Connections.Select(cs => $"{cs.Name} ({cs.TransportType})")).OrDefault("None") <br />
                            Players: @string.Join(", ", station.Players).OrDefault("None")
                        </p>
                        @foreach (var conn in Model.ConnectedStations.FindAll(cs => cs.Name == station.Name))
                        {
                            <a href="/Player/MoveStation?Station=@station.Name&TransportType=@conn.TransportType" class="btn btn-primary">Move here by @conn.TransportType</a>
                        }
                    </div>
                }
            </div>
        </div>
		<div class="col">
            <div class="list-group">
                @foreach (var ticket in Model.Tickets)
                {
                    <div class="list-group-item">
                        <h4>@ticket.Name</h4>
						<p>
							Amount: @ticket.Amount
						</p>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.ErrorMessage != null)
	{
		<div class="row mb-3 alert alert-danger" role="alert">
			@Model.ErrorMessage
		</div>
	}
</div>
