@{
    ViewData["Title"] = "Home Page";
}

@model PlayerViewModel

<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="list-group">
                @foreach (var station in Model.Stations)
                {
                    <div class="list-group-item @if (station.Station.Name == Model.OwnStation) {<text>active</text>}">
                        <h4>@station.Station.Name</h4>
                        <p>
                            Connected to: @string.Join(", ", station.Station.Connections.Select(cs => $"{cs.Destination.Name} ({cs.ModeOfTransport})")).OrDefault("None") <br />
                            Players: @string.Join(", ", station.Players.Select(p => p.Name)).OrDefault("None")
                        </p>
                        @foreach (var conn in Model.ConnectedStations.ToList().FindAll(cs => cs.Destination.Name == station.Station.Name))
                        {
                            <a href="/Player/MoveStation?Station=@station.Station.Name&TransportType=@conn.ModeOfTransport" class="btn btn-primary">Move here by @conn.ModeOfTransport</a>
                        }
                    </div>
                }
            </div>
        </div>
		<div class="col">
            <div class="list-group">
                @foreach (var ticket in Model.TicketAmounts)
                {
                    <div class="list-group-item">
                        <h4>@ticket.ModeOfTransport</h4>
						<p>
							Amount: @ticket.Amount
						</p>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.ErrorMessage != null)
	{
		<div class="row mb-3 alert alert-danger" role="alert">
			@Model.ErrorMessage
		</div>
	}
</div>
